* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 30px;
  padding-top: 30px;
}

.code {
  font-family: SF Mono, Menlo, Monaco, monospace;
  line-height: 0.4em;
  background-color: #e3e3e3;
  width: 90%;
  margin: 0 auto;
  padding: 1px 10px;
  border-radius: 5px;
}

#main-doc {
  float: left;
  width: 500px;
  display: inline;
}

#navbar {
  display: grid;
  float: left;
  z-index: 1; /* stay on top */
  width: 175px;
  margin-right: 30px;
  padding: 0;
}

.nav-link {
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  border-top: 1px solid black;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.nav-link:last-of-type {
  border-bottom: 1px solid black;
}

.nav-link:hover {
  background-color: rgb(185, 185, 185);
}

/* Applies if window is over 769px and under 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  #navbar h1 {
    font-size: 1.5em;
  }
}
